.testecss {
    gap:10rem;
}

.contact_image{
    width:35.938rem;
    height: 23.688rem;

}

.teste-tailwind{
    gap:2rem;
}

.test-button{
    margin-top:2rem;
}

.sessao-contato{
    padding-top:7rem;
}

.imagem-sobre{
    width:30rem;
    height:25.875rem;
}